<p id="notice"><%= notice %></p>

<p>
  <b>Venue name:</b>
  <%= @venue.venue_name %>
</p>

<p>
  <b>Address:</b>
  <%= @venue.address %>
</p>

<p>
  <b>Description:</b>
  <%= @venue.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @venue.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @venue.longitude %>
</p>

<p>
  <b>Contact name:</b>
  <%= @venue.contact_name %>
</p>

<p>
  <b>Contact number:</b>
  <%= @venue.contact_number %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
