<!DOCTYPE html>
<html lang="es-ES">

<head>
  <title><%= t(:offers_project) %></title>
  <%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>

<section class='main-container'>
	<%= yield %>
</section>

</body>
</html>
